.container{
    width: 100%;
    height: 100vh;
    background:#acced2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.calculator{
    background-color: rgb(20, 23, 24);
    padding: 30px;
    border-radius: 30px;
    
}

.calculator form input{
    outline: 0;
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    color: rgba(2, 226, 255);
    background-color: #383838;
    box-shadow: -4px -4px 15px rgba(2, 226, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
}

.calculator form input:hover{
    background-color: #454545;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px, 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
}
